.container img{
  width:70%;
  height:80%;
}
.container .btn{
  position:absolute;
  top:50%;
  
  width:30px;
  height:30px;
  font-size:30px;
  text-align:center;
  line-height:30px;
transform: translate(-50%,-50%);
-ms-transform:translate(-50%,-50%);
background-color:#fff;;
color:black;
z-index:1
  
}
#image{
  width:200px;
  height:300px;
}

